Checks: >
  modernize-*,
  performance-*,
  readability-*,
  -readability-math-missing-parentheses,
  clang-analyzer-*,
  cppcoreguidelines-*,
  bugprone-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -clang-diagnostic-c++98-compat, 
  -clang-diagnostic-pre-c++17-compat

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
